# Project exclude paths
/cmake-build-debug/
CMakeLists.txt
fffff.cpp
.idea/vcs.xml
.idea/Qbert.iml
.idea/modules.xml
.idea/misc.xml
.idea/.name
sprites/azul - medio.png
sprites/azul - esquina.png
sprites/azul.png
sprites/level1.txt
